.product-page {
  .product-info {
    background-color: #fff;
    padding: 32px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 70px;
    div {
      flex-basis: 0;
      &.image-description {
        flex-basis: 680px;
        .picture {
          height: 680px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        h2 {
          @include rem('font-size', 28px);
          color: $color-dark;
          margin-bottom: 32px;
        }
        p {
          @include rem('font-size', 16px);
          color: $color-light;
        }
      }
      &.block-buy {
        p,
        h1,
        h2 {
          color: $color-dark;
        }
        p {
          @include rem('font-size', 14px);
          margin-bottom: 16px;
        }
        h1 {
          @include rem('font-size', 24px);
          margin-bottom: 32px;
        }
        h2 {
          @include rem('font-size', 46px);
          margin-bottom: 32px;
        }
        .btn-comprar {
          color: #fff;
          background-color: $color-button;
          border-radius: 4px;
          padding: 12px 0;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}
