html {
  font-size: $font-size-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: $font-default;
  font-size: $font-size-default;
  color: $font-color-default;
  font-weight: 300;
  height: 100%;
  line-height: 1.4;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-default;
  font-weight: 500;
  line-height: 1;
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

.container-base {
  width: $base-container;
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: $base-container - 50px) {
    max-width: 95%;
  }
}
