$i: !important;

// Fonts  -------------------------------------------------------------------- /
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

// Colors  -------------------------------------------------------------------- /
$color-main: #ffe600;
$color-dark: #333333;
$color-normal: #666666;
$color-light: #999999;
$color-lighter: #eeeeee;
$color-button: #3483fa;

// Fonts -------------------------------------------------------------------- /
$font-default: 'Verdana', sans-serif;
$font-size-default: 14px;
$font-color-default: $color-light;

$base-container: 980px;
